<template ngbModalContainer></template>

<div>
  <img id="image" src="{{imagePath}}">
</div>
<div>
  {{name}}
</div>
<div>
  {{category}}
</div>

<button (click)="editSellerInfo()">Edit info</button>

<button (click)="addNewProduct()">Add new product</button>

<ngb-tabset type="pills">
  <ngb-tab title="All Products">
    <template ngbTabContent>
      <ngb-alert [dismissible]="false" *ngIf="isEmpty">
        Seller has no products yet
      </ngb-alert>

      <div class="container" *ngIf="!isEmpty">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-2"*ngFor="let product of productList" (click)="editProduct(product)">
            {{product.name}}
          </div>
        </div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Top 10">
    <template ngbTabContent>
      Top 10 products!
    </template>
  </ngb-tab>
</ngb-tabset>
