<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Name: <input [(ngModel)]="product.name" autofocus /> <br>
  Price: <input [(ngModel)]="product.price" /> <br>
  Sold: <input [(ngModel)]="product.quantitySold" /> <br>
  In stock: <input [(ngModel)]="product.quantityInStock" /> <br>
  Image: <input [(ngModel)]="product.imagePath" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
  <button type="button" class="btn btn-success" (click)="onOk()">OK</button>
</div>